@font-face {
    font-family: 'nightcap_nfregular';
    src: url('nightcap_nf-webfont.woff2') format('woff2'),
         url('nightcap_nf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
