@font-face {
    font-family: 'nightcap_nfregular';
    src: url('../fonts/nightcap_nf-webfont.woff2') format('woff2'),
         url('../fonts/nightcap_nf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
