* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

html.bg-color-1 {
    background-color: #f2d8c0;
    color: #26404c;
}

html.bg-color-1 a {
    color: #26404c;
}

html.bg-color-2 {
    background-color: #ef9178;
    color: #fcb006;
}

html.bg-color-2 a {
    color: #26404c;
}

html.bg-color-3 {
    background-color: #ea871b;
    color: #26404c;
}

html.bg-color-3 a {
    color: #26404c;
}
html.bg-color-4 {
    background-color: #e81c43;
    color: #26404c;
}
html.bg-color-4 a {
    color: #26404c;
}
html.bg-color-5 {
    background-color: #2a9bd3;
    color: #26404c;
}
html.bg-color-5 a {
    color: #26404c;
}
html.bg-color-6 {
    background-color: #fcb006;
    color: #e81c43;
}
html.bg-color-6 a {
    color: #26404c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.cover--text {
    height: 65vh;
    display: flex;
    align-items: end;
    justify-content: center;
    h1 {
        font-size: 80px;
        text-transform: uppercase;
        font-family: 'nightcap_nfregular';
        font-weight: normal;
        font-style: normal;
    }
}
.footer--navigation {
    height: 31vh;
    display: flex;
    align-items: end;
    justify-content: center;
    nav {
        ul {
            display: flex;
            li {
                margin: 0 45px 0 45px;
                a {
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
    }
}
